.container{
	width:800px;
	height:500px;
	font-size: 0;
	margin-right: auto;
	margin-left: auto;
}
.container div{
	border: 1px black solid;
	display: inline-block;
}
.green{
	background-color: green;
	width: 50%;
	height: 40%;
}
.blue{
	background-color: blue;
	width: 50%;
	height: 40%;
}
.grey{
	background-color: grey;
	width: 33.33%;
	height: 60%;
}
.black{
	background-color: black;
	width: 33.33%;
	height: 60%;
}
.yellow{
	background-color: yellow;
	width: 33.33%;
	height: 60%;
}
